@blue: #5084AF;
@blue-surface: #57A6E1;
@green: #32B75D;
@red: #DA6255;
@red-surface: #E67066;
@mint: #11E1C1;
@background: #4C5359;
@surface: #41464C;
@surface-border: #353A3D;
@darker: #363D43;
@darker-border: #313639;
@text: #A7A9B3;
@text-active: #E9EFEF;

html, body {

    background-color: @background;
    height: 100vh;
    width: 100vw;
    margin: 0;
    user-select: none;
    font-family: 'Roboto', sans-serif;

    & > #app > div {
        @import 'index';
        @import 'modal';
    }

    @import 'vendor/react-select/default.less';

}

div, span, form, label {
    display: block;
    box-sizing: border-box;
}

h1, h2, h3, a, p {
    cursor: default;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button, input {
    outline: 0;
    border: 0;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
}

button {
    cursor: pointer;
}

input {

    background-color: @surface;
    border: 1px solid @surface-border;
    color: @text-active;
    font-size: 16px;

    &::placeholder {
        color: @text;
    }

    &[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

}

label {
    margin-top: 10px;
    color: @text;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: @surface;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: @darker;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: @darker-border;
}
